$blue: #3F3cb1;
$green: #48eb27;
$purple: #771780;

h1 {
  color: $blue;
}

p {
  color: $blue;
}

.blue {
  height: 50px;
  width: 50px;
  margin-bottom: 1em;
  background: $blue;
}

.lighten {
  height: 50px;
  width: 50px;
  margin-bottom: 1em;
  background: lighten($blue, 20%);
}

.darken {
  height: 50px;
  width: 50px;
  background: darken($blue, 20%);
}

section {
  margin-top: 1em;
  border: 1px solid orchid;

  div {

    h1 {
      color: $green;
    }

    p {
      color: $green;
    }
  }
}

.section-test {
  background: yellow;

  &__text--purple {
    color: $purple;
  }
}
